:root {
    --width-topbar: 64px;
}

*, ::after, ::before {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #6d6d6d;
    background: #fff;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
    color: #929292;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}

canvas, img, video {
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
}

.main {
    margin-top: var(--width-topbar, 64px);
    padding-top: 25px;
    padding-bottom: 25px;
}

.container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;

    @media (min-width: 576px) {
        max-width: 540px;
    }

    @media (min-width: 768px) {
        max-width: 720px;
    }

    @media (min-width: 992px) {
        max-width: 960px;
    }

    @media (min-width: 1200px) {
        max-width: 1030px;
    }

    /* @media (min-width: 1310px) {
        max-width: 1310px;
    } */
}

.header {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    height: var(--width-topbar, 64px);

    padding: 0 25px;

    background-color: white;
    box-shadow: 0 1px 0 0 rgba(139, 141, 157, 0.05), 10px 1px 7px 0 rgba(65, 71, 108, 0.15);
}